@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
}

body {
    background-color: var(--yellow);
    font-family: 'Figtree', sans-serif;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 310px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 7px 7px 0 black;
}

.card__container {
    width: 86%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_img-container {
    margin-top: 4px;
    height: 185px;
    border-radius: 10px;
    overflow: hidden;
}

.card__img {
    height: 185px;
    position: relative;
    top: -1px;
    left: -7%;
}

.card__level {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    background-color: var(--yellow);
    margin-right: auto;
}

.card__date {
    font-weight: 600;
}

.card__title {
    font-size: 20px;
    transition: .2s;
}

.card__title:hover {
    cursor: pointer;
    color: var(--yellow);
    transition: .2s;
}

.card__description {
    font-size: 13px;
    line-height: 1.5;
    color: var(--grey);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.profile__avatar {
    height: 30px;
}

@media (min-width: 768px) {

    .card {
        width: 340px;
    }

    .card_img-container {
        height: 180px;
    }

    .card__img {
        height: 180px;
        top: 0;
        left: 0;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}